<?php

//@TODO add no images case
if ($this->isMobileApp($_SERVER) || wp_is_mobile()) {
    $imageHitDana = esc_url(wp_get_attachment_image_url(get_post_thumbnail_id($hitDana->ID), 'medium'));
    $width = 120;
    $height = 82;
    $imagePobednikDana = esc_url(wp_get_attachment_image_url(get_post_thumbnail_id($pobednikDana->ID), 'medium'));
    $imageGubitnikDana = esc_url(wp_get_attachment_image_url(get_post_thumbnail_id($gubitnikDana->ID), 'medium'));
} else {
    $imageHitDana = esc_url(wp_get_attachment_image_url(get_post_thumbnail_id($hitDana->ID), 'euro-blic'));
    $imagePobednikDana = esc_url(wp_get_attachment_image_url(get_post_thumbnail_id($pobednikDana->ID), 'euro-blic'));
    $imageGubitnikDana = esc_url(wp_get_attachment_image_url(get_post_thumbnail_id($gubitnikDana->ID), 'euro-blic'));
    $width = 406;
    $height = 271;
}

//$imageHitDana = get_the_post_thumbnail_url($hitDana) ?: PLUGIN_DIR_URI . 'assets/noImage.jpg';
//$imagePobednikDana = get_the_post_thumbnail_url($pobednikDana) ?: PLUGIN_DIR_URI . 'assets/noImage.jpg';
//$imageGubitnikDana = get_the_post_thumbnail_url($gubitnikDana) ?: PLUGIN_DIR_URI . 'assets/noImage.jpg';
$html = '<div class="gray">
            <div class="container">
                <section class="news news--over-img news--featured items__3">' .
                $this->renderHpgTemplate($hitPermalink, $hitTitle, $imageHitDana, $width, $height, 'smile', 'HIT') .
                $this->renderHpgTemplate($pobednikPermalink, $pobednikTitle, $imagePobednikDana, $width, $height, 'thumbs-up', 'POBJEDNIK') .
                $this->renderHpgTemplate($gubitnikPermalink, $gubitnikTitle, $imageGubitnikDana, $width, $height, 'thumbs-down', 'GUBITNIK') .
                '</section>
            </div>
        </div>';

echo $html;