<?php
    $html = '';
    $html .= '<section class="gfShow gfLatestNews">
        <div class="news__tabs">
            <ul>
                <li class="active">Najnovije</li>
                <li onclick="showPopularPosts()">Najpopularnije</li>
            </ul>
        </div>
        <ul class="news__list">';

    $html .= $this->printItems($newest);
    $html .= '</ul><a href="'.$newestNewsPageUrl.'" title="All News" rel="category">Sve novo <i class="fas fa-chevron-right"></i></a></section>';
    $html .= '<section class="gfHidden gfPopularNews">
        <div class="news__tabs">
            <ul>
                <li onclick="showLatestPosts()">Najnovije</li>
                <li class="active" >Najpopularnije</li>
            </ul>
        </div>
        <ul class="news__list">';
    $html .= $this->printItems($popular);
    $html .= '</ul><a href="'.$popularNewsPageUrl.'" title="All News" rel="category">Sve popularno <i class="fas fa-chevron-right"></i></a></section>';

    return $html;
