.newsletterBlock {
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  .nlBlockInner {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    width:30%;
      input {
        width:70%;
      }
  }
}