.gfNewsBlockEditor {
   border:1px solid black;
   text-align: center;
   padding: 10px;
   .wp-block-column {
      border:2px solid black;
      padding: 10px;
   }
   .block-editor-default-block-appender__content {
      margin-left: -30px;
   }

}


