<?php
use Carbon\Carbon;
global $restrictedPosts;?>

<section class="gfShow gfLatestNews">
    <div class="news__tabs">
    <ul>
        <li class="active">Najnovije</li>
        <li onclick="showPopularPosts()">Najpopularnije</li>
    </ul>
    </div>
    <ul class="news__list">

<?php
foreach ($newest as $post) {
    $restrictedPosts[] = $post->ID;
    $postDate = new Carbon($post->post_date, new \DateTimeZone('Europe/Belgrade'));
    echo $this->printItem($postDate->diffInMinutes(new Carbon('now', new \DateTimeZone('Europe/Belgrade'))), get_permalink($post->ID), $post->post_title);
}
?>
</ul><a href="<?=$newestNewsPageUrl?>" title="All News" rel="category">Sve novo <i class="fas fa-chevron-right"></i></a></section>

<section class="gfHidden gfPopularNews">
    <div class="news__tabs">
    <ul>
        <li onclick="showLatestPosts()">Najnovije</li>
        <li class="active">Najpopularnije</li>
    </ul>
    </div>
    <ul class="news__list">
<?php
foreach ($popular as $post) {
    $restrictedPosts[] = $post->ID;
    $postDate = new Carbon($post->post_date, new \DateTimeZone('Europe/Belgrade'));
    echo $this->printItem($postDate->diffInMinutes(new Carbon('now', new \DateTimeZone('Europe/Belgrade'))), get_permalink($post->ID), $post->post_title);
}
?>
    </ul><a href="<?=$popularNewsPageUrl?>" title="Popular News" rel="category">Sve popularno <i class="fas fa-chevron-right"></i></a></section>

