.gfImageEditor {
  width: 100px;
  height: 100px; }

.gfCategoriesBlockEditor {
  border: 1px solid black;
  padding-bottom: 15px; }

.gfNewsBlockEditor {
  border: 1px solid black;
  text-align: center;
  padding: 10px; }
  .gfNewsBlockEditor .wp-block-column {
    border: 2px solid black;
    padding: 10px; }
  .gfNewsBlockEditor .block-editor-default-block-appender__content {
    margin-left: -30px; }

.newsletterBlock {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .newsletterBlock .nlBlockInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%; }
    .newsletterBlock .nlBlockInner input {
      width: 70%; }

/*Table css for HPG BLOCK */
.hpgTable {
  margin: 0 auto; }

.hpgTable td {
  padding: 10px; }

.block-editor-inserter {
  position: initial !important;
  display: flex !important;
  justify-content: center !important; }

#editor > div > div > div.components-navigate-regions >
div > div.block-editor-editor-skeleton__header >
div > div.edit-post-header__toolbar > div > div.components-dropdown.block-editor-inserter {
  left: 0 !important; }

.block-editor-block-list__block {
  margin: unset;
  max-width: 90%; }

.block-editor-block-list__layout {
  text-align: center; }

.editor-post-title__input {
  text-align: center; }

.block-list-appender {
  position: relative; }

.gfBlock {
  border: 1px solid black;
  padding-bottom: 15px; }

.gfBlock select {
  margin: 0 10px; }

.newsInputIdEditor {
  margin-top: 10px; }

.rightColumn .gfBannerBlockEditor textarea {
  max-width: 80%; }

.gfNewsBlockEditor .block-editor-default-block-appender {
  display: none !important; }

.antrefileTitle {
  width: 450px !important;
  height: 50px !important;
  font-size: 18px !important; }

.antrefileText {
  font-size: 20px !important; }

.gfBannerBlockEditor.gfBlock textarea {
  width:100%;
}


/*# sourceMappingURL=editor.css.map */
