<?php
$postTitle = esc_html($postTitle);
$categoryName = esc_html($categoryName);
$categoryLink = esc_url($categoryLink);
$postThumbnailUrl = esc_url($postThumbnailUrl);
$postPermalink = esc_url($postPermalink);



//$postThumbnailUrl = str_replace('siprod.djavolak.info', 'srpskainfo.com', $postThumbnailUrl);
//$postThumbnailUrl = str_replace('srpska.local', 'srpskainfo.com', $postThumbnailUrl);

$tpl = '<article class="news__item">
               <a title="'. esc_attr($postTitle) .'" href="'. $postPermalink .'">
                   <figure>
                       <amp-img layout="responsive" src="'.  $postThumbnailUrl . '" width="411"
                         height="302" title="' . esc_attr($postTitle) . '"></amp-img>';

if ($postType === 'video') {
    $tpl .= '<span class="icon"><i class="fas fa-play"></i></span>';
}
if ($postType === 'audio') {
    $tpl .= '<span class="icon"><i class="fas fa-microphone"></i></span>';
}

$tpl .= '</figure>
               </a>
               <div>
                    <span class="news__category categoryAuthor">';
    $tpl .= '<a title="' . $categoryName . '" href="' . $categoryLink . '">' . $categoryName . '</a>';
$tpl .=   '</span>
          </span>
          <h3><a title="'. esc_attr($postTitle) .'" href="'. $postPermalink . '">'. $postTitle .'</a></h3>
          </div>
          </article>';

return $tpl;
